body { font-family: serif; 
  margin: 0;
  background-color: #222f3d;
  color: #fffeff;
 }
.hero { display: flex; padding: 60px; gap: 40px; }
.hero span { color: #e06a5f; }
.hero img { width: 300px; 
  height: 300px;
  border-radius: 10px; }
button { padding: 12px 20px; border-radius: 30px; border: none; background: black; color: white; }
.projects, .cv { padding: 60px; }
.project-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
.card { 
  width: 75%;       /* makes image fit the card width */
  height: 100%;     /* or any fixed height you prefer */
  object-fit: cover; /* ensures the image maintains aspect ratio and fills area */
  border-radius: 8px;
 }
.divider {
  height: 1px;
  background-color: #dcdcdc; /* subtle line like screenshot */
}
